@{
    ViewBag.Title = "TerrainAdd";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h1>Add</h1>
@model Entity.Models.HW_Terrain
<div style="width:500px;padding-left:10px">
    <form method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="" value="@Model.Name" name="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            @Html.TextAreaFor(s => s.Description, new { @style = "width:500px;height:100px;" })
        </div>
        @Html.HiddenFor(s => s.ID)
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
