@{
    ViewBag.Title = "Index";
}

<h2>~~</h2>
<ul>
    <li>
        <a href="/Home/CreateJson" target="_blank">生成json文件</a>
    </li>
    <li>
        <a href="/Home/BuildList" target="_blank">房屋管理</a>
    </li>
    <li>
        <a href="/Home/ItemList" target="_blank">物品管理</a>
    </li>
    <li>
        <a href="/Home/ProductList" target="_blank">规则管理</a>
    </li>
    <li>
        <a href="/Home/ConstructionList" target="_blank">建造规则</a>
    </li>
</ul>