@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>
        <a href="/Home/CreateJson" target="_blank">生成json文件</a>
    </li>
    <li>
        <a href="/Home/BuildList" target="_blank">房屋管理</a>
    </li>
</ul>